@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
* {
  margin: 0px;
  padding: 0px;
}


ul li{ font-weight: 500;}
ol li{ font-weight: 500;}
p{font-weight: 500; word-wrap: break-word;}



.faq_cnt p a{text-decoration: none; color: #0072ff;}
.faq_cnt p a:hover{text-decoration: underline; color: #0072ff;}

body {
  font-family: 'Montserrat', sans-serif !important;
}

.MuiFormControl-root label{   font-family: unset !important;}
.MuiFormControl-root input{   font-family: unset !important;}

header nav a {
  font-size: 16px !important;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 600 !important;
  padding: 0px 30px !important;
  color: white !important;
}

.side_btn a {
  padding: 14px 35px;
}

.side_btn a:hover {
  color: white !important;
}

.global_btn {
  background: linear-gradient(90deg, #01a9ff 0%, #0072ff 100%);
  border-radius: 46px;
  padding: 8px 25px;
  border: none;
  color: white;
  font-weight: 600;
  transition: 0.6s;
  justify-content: center !important;
}

.front_btn {
  background: linear-gradient(90deg, #01a9ff 0%, #0072ff 100%);
  border-radius: 46px;
  padding: 15px 50px;
  border: none;
  color: white;
  font-weight: 600;
  transition: 0.6s;
}

.front_btn:hover {
  background: linear-gradient(90deg, #0072ff 0%, #01a9ff 100%) !important;
  transition: 0.6s !important;
  transform: scale(1.02) !important;
}

.app_download .front_btn {
  color: white;
}

.app_download .front_btn:hover {
  color: white;
}

.faicility_box .front_btn {
  color: white;
}

.faicility_box .front_btn:hover {
  color: white;
}

.global_btn:hover {
  background: linear-gradient(90deg, #0072ff 0%, #01a9ff 100%) !important;
  transition: 0.6s !important;
  transform: scale(1.02) !important;
}

.side_btn {
  display: flex;
  gap: 20px;
  padding: 20px 0px;
}

.get_quotes {
  background: #ebebeb;
  color: #3a3a3a;
  transition: 0.6s;
}

.get_quotes:hover {
  color: white;
}

.slider_box img {
  width: 800px;
  margin: auto;
}

.slider_section {
  background-image: url(../images//sliderbanner.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.slider_box {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_content {
  text-align: center;
}

.hero_content h3 {
  font-size: 18px;
}
.hero_content h2 {
  font-size: 40px;
  /* font-family: 'Michroma', sans-serif; */
}

.hero_content p {
  font-size: 16px;
  font-weight: 500;
  margin: 5px;
}

.points_employment li{ margin-bottom:10px ;}

.hero_content {
  background: linear-gradient(180deg, #102a45 0%, #0761c5 100%);
  color: white;
  padding: 100px 0px 100px;
}

.global_heading {
  font-size: 40px;
  /* font-family: 'Michroma', sans-serif; */
  text-align: center;
}

.get_start {
  text-align: center;
  padding: 90px;
  background-color: #f3f6fa;
  padding: 72px 0px 20px;
  border-radius: 15px;
}

.icon_text {
  display: flex;
  gap: 30px;
}

.icon_text .text_box h3 {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
}

.icon_text .text_box p {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #6b6b6b;
  margin: 0px;

}

.text_box{ height: 130px;}

.faicility_box {
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  height: 100%;
  position: relative;
  z-index: 99;
}

.faicility_box .global_btn {
  width: 100%;
  margin-top: 15px;
  justify-content: center;
}

.get_start .global_heading {
  padding: 80px;
}

.breack_word {
  display: block;
}

.get_start .global_heading h2 {
  font-size: 40px;
  line-height: 60px;
  display: inline-block;
  font-weight: 500;
  text-transform: capitalize;
}

.pos_img {
  position: absolute;
  left: 0px;
  top: 0px;
}

.get_start .global_heading {
  position: relative;
  display: inline-block;
}

.how_work {
  padding: 160px 0px 100px;
  margin-top: -120px;
  background: linear-gradient(90deg, #102948 0%, #0e58b0 100%);
}

.main_global_heading {
  color: white;
  text-align: center;
}

.how_work .main_global_heading h2 {
  font-size: 18px; margin: 0px;
  }

  .review .main_global_heading h2 {
    font-size: 18px; color: #0074ff!important; font-weight: 600; margin: 0px;
} 
.review .main_global_heading p{ color: #787878!important;
  font-weight: 500;}

.review .main_global_heading h3{ font-size: 32px; color: black; margin: 0px;}

.left_app_links .main_global_heading p {     font-size: 16px !important;
  font-weight: 400;}

  .left_app_links .main_global_heading h2 {
font-size: 18px;
}

.main_global_heading h3 {
  /* font-family: 'Michroma', sans-serif; */
  font-size: 32px;
  /* line-height: 60px; */
}

.main_global_heading p {
  font-size: 18px;
  font-weight: 600;
  margin: 0px;
}

.option_inner {
  text-align: center;
}

.option_inner h6 {
  /* font-family: 'Michroma', sans-serif; */
  margin-bottom: 35px;
  margin-top: 45px;
  color: white;
}

.option_inner ul {
  margin-top: 25px;
}

.option_inner ul li {
  font-size: 20px;
  color: white;
  font-weight: 500;
  text-align: center;
  list-style: none;
  margin-bottom: 20px;
}

.option_box {
  margin-top: 70px;
}

.top_cat h2 {
  color: #0f2946;
}

.reset_btn {

  background: aliceblue;
  color: black;
  border: 1px solid #b5b5b5;
}

.reset_btn:hover{ background: unset!important; border: 1px solid #0072ff!important;}

.cat_box {
  text-align: center;
  padding: 15px;
}

.top_cat {
  background-color: #f3f6fa;
  padding: 90px 0 90px;
}

.cat_box {
  background-color: white;
  padding: 40px 15px;
  border-radius: 20px 15px;
  box-shadow: 0px 4px 44px 10px rgba(0, 0, 0, 0.06);
  height: 100%;
}

.how_work .main_global_heading  p{     color: white !important;
  font-weight: 500!important; font-size: 16px!important;}

.cat_box p{     color: #787878 !important;
  font-size: 15px; margin: 0px;}

.cat_box h3 {
  font-size: 18px;
  color: #3a3a3a;
  font-weight: 600;
  margin: 35px 0 15px;
}

.cat_main {
  margin-top: 50px;
}

.mb_minus {
  margin-top: -20px;
}

.app_download {
  background: linear-gradient(90deg, #0e57ae 0%, #102a4b 100%);
}

.left_app_links .main_global_heading {
  text-align: left;
}

.app_download {
  padding: 100px 0;
}

.left_app_links .side_btn {
  padding: 0px;
}
.requird_txt {
  font-size: 16px;
  color: red;
}
.quote_circle {
  width: 92px;
  height: 92px;
  border-radius: 100%;
  background-color: #f3f6fa;
}

.quote_circle {
  text-align: center;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quote_circle img {
  width: 35px;
}

.star_rating ul li {
  display: inline-block;
  padding: 2px;
  text-align: center;
}

.star_rating ul li svg {
  color: #ffbe58;
}

.star_rating ul {
  padding: 0px;
  text-align: center;
  margin: 0px;
  margin: 10px 0;
}

.review_text {
  text-align: center;
  font-weight: 500;
  color: #55647c;
  padding: 0px 20px;
}

.user_details_main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.user_details_main p {
  margin: 0px;
  font-size: 18px;
  font-weight: 500;
  color: #55647c;
}

.user_details h2 {
  font-size: 20px;
  font-weight: 600;
  color: #55647c;
}

.review {
  position: relative;
  padding: 95px 0;
  background: white;
  z-index: 0;
}

.table_tittle{ font-size: 22px;}

.review:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #f3f6fa;
  width: 100%;
  height: 70%;
  z-index: -1;
}

.review_box {
  background-color: white;
  border-radius: 20px;
  padding: 30px 0;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.white_img {
  display: none;
}

.main_rev_box {
  margin-top: 80px;
}

.review_box:hover .quote_circle {
  background-color: #2196f3;
  transition: 0.6s;
}
.review_box:hover .grey_img {
  display: none;
}
.review_box:hover .white_img {
  display: block;
}

.review .main_global_heading p {
  color: #0074ff;
}

.review .main_global_heading h2 {
  color: #0f2946;
}

footer {
  background: linear-gradient(180deg, #0e3b6f 0%, #0d57af 100%);

  padding: 90px 0 15px;
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.quick_links h2 {
  /* font-family: 'Michroma', sans-serif; */
  font-size: 20px;
  color: white;
}

.quick_links ul li {
  color: #cacaca;
  padding: 15px 0px;
  list-style: none;
}

.quick_links ul li a {
  text-decoration: none;
  color: #cacaca;
  transition: 0.6s;
}

.quick_links ul li a:hover {
  color: white;
  margin-left: 10px;
  transition: 0.6s;
}

.quick_links ul {
  padding: 0px;
  margin: 0px;
}

.option_box {
  margin-top: 40px;
}

.breacrumb {
  background-image: url(../images/breadcrumb.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0 120px;
  position: relative;
}

.breacrumb:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #09356591;
  z-index: 1;
}

.bg_top {
  width: 100%;
  height: 102px;
  background: linear-gradient(180deg, #0e3b6f 0%, #0d57af 100%);
}

.slider_section:after {
  content: '';
  top: 0px;
  left: 0px;
  width: 100%;
  height: 500px;
  position: absolute;
  background: linear-gradient(179deg, rgb(2 0 36 / 65%) 0%, rgb(0 0 0 / 0%) 100%);
}

.bread_heading h2 {
  color: white;
  font-size: 56px;
  /* font-family: 'Michroma', sans-serif; */
}

.bread_heading ul {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 18px;
  font-weight: 500;
  gap: 15px;
  padding: 0px;
}

.bread_heading ul {
  list-style: none;
}

.bread_heading {
  position: relative;
  z-index: 9;
}

.faq_cnt .main_global_heading p {
  color: #4674e7;
}

.faq_cnt .main_global_heading h2 {
  color: #3a3a3a;
}

.faq_cnt .main_global_heading {
  text-align: left;
}

.faq .accordion-button {
  padding: 8px 15px;
  font-weight: 600;
}

.right_img .img_box img {
  border-radius: 50px;
  width: 80%;
}

.faq {
  padding: 60px 0px;
}

.right_img {
  position: relative;
}
.circle {
  position: absolute;
  top: -30px;
  z-index: -1;
  left: -50px;
}

.about_cnt .main_global_heading {
  text-align: left;
}

.about_cnt .main_global_heading p {
  color: #4674e7;
}

.about_cnt .main_global_heading h2 {
  color: #3a3a3a;
}

.ab_images img {
  border-radius: 20px;
  width: 100%;
}

.ab_images .first {
  margin-top: 100px !important;
}

.about_cnt {
  padding: 120px 0px;
}

.form_pilot_find {
  padding: 50px 0px;
}

.group {
  position: relative;
  margin-bottom: 30px;
}

.inputMaterial {
  font-size: 18px;
  padding: 10px 10px 10px 0px;
  height: 43px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}

.inputMaterial:focus {
  outline: none;
}

/* LABEL ======================================= */

.group label {
  color: #999;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0px;
  top: 20px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
.group .inputMaterial:focus ~ label,
.group .inputMaterial:valid ~ label {
  top: -10px;
  font-size: 12px;
  color: #747474;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 100%;
}
.bar:before,
.bar:after {
  content: '';
  height: 1px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #0183ff;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
.inputMaterial:focus ~ .bar:before,
.inputMaterial:focus ~ .bar:after {
  width: 50%;
}

/* Error Text*/
.error-txt {
  position: absolute;
  font-family: arial;
  color: red;
  font-size: 14px;
  bottom: -18px;
  display: none;
}
.error input {
  border-bottom: 1px solid #d1d1d1;
  width: 100%;
  font-size: 16px;
}
.error .error-txt {
  display: block;
}
/*hide and show classes css*/
.hide {
  display: none;
}
.show {
  display: block;
}

.inner_main_box {
  background: white;
  padding: 40px;

  box-shadow: 0px 4px 17px 11px rgb(0 0 0 / 2%);
}

.form_heading h3{  font-size: 22px;
  color: #3a3a3a;
  font-weight: 600; }

.form_heading h2 {
  font-size: 22px;
  color: #3a3a3a;
  font-weight: 600;
}

.form_heading {
  margin-bottom: 60px;
}

.form_heading p {
  font-weight: 500;

  color: #3a3a3a;
}

.inner_main_box .react-dropdown-select {
  border: none;
  border-bottom: 1px solid #d1d1d1;
  font-size: 22px;
}

.inner_main_box .react-dropdown-select:placeholder {
  font-size: 22px;
}

.global_breadcrumb_design h2{ font-size: 16px; color: white;}

.pricing_main_front .plan_det_box{ min-height: 100%;}


.estra_cate_purchase{
  background: #f1f1f1;
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;
}

.plan_det_box {
  border: 1px solid #80b9ff;
  padding: 10px 0px 65px;
  border-radius: 5px;
  /* min-height: 100%; */
  background-color: white;
position: relative;
}

.pricing {
  padding: 10px 20px;
}

.pricing h3 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.pricing .text_price {
  font-size: 28px;
  /* font-family: 'Michroma', sans-serif; */
  margin: 0px;
  font-weight: 600;
}

.pricing .text_month {
  font-size: 20px;
  color: #656565;
  margin: 0px;
  margin-top: 5px;
}

.price_month {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.pricing p {
  color: #656565;
  margin: 8px 0px;
}

.flex_plans {
  padding: 80px 0;
}

.includes {
  padding: 10px 10px;
  background-color: #f3f6fa;
  min-height: 252px;
}

.includes h2 {
  font-size: 14px;
  color: 3a3a3a;
  font-weight: 600;
}

.includes li {
  list-style: none;
  font-size: 16px;
  color: #3a3a3a;
  font-weight: 500;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
}

.includes li img {
  margin-right: 10px;
}

.best_plan {
  background: linear-gradient(180deg, #01a8ff 0%, #0073ff 100%);
  border-radius: 10px;
}

.best_plan .text_price {
  color: white;
}
.best_plan .text_month {
  color: white;
}

.best_plan .pricing p {
  color: white;
  margin-top: 15px;
}

.best_plan .pricing h3 {
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.best_plan {
  padding: 10px 10px;
}

.best_plan .includes {
  border-radius: 15px;
}

/* .best_plan .pricing {
  padding: 0px;
} */

.advance_option .accordion-button {
  font-weight: 600;
  color: #3a3a3a;
}

.advance_option .accordion-button:not(.collapsed) {
  background-color: #f9f9f9;
  box-shadow: none;
}

.advance_option {
  margin-bottom: 20px;
}

.option_add {
  padding: 0px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.option_add li {
  display: flex;
}

.flex_plans .main_global_heading p {
  color: #0072ff;
}

.flex_plans .main_global_heading h2 {
  color: #3a3a3a;
}

.width_full {
  width: 100% !important;
  margin: 0px !important;
}

.select_multi fieldset {
  border: none;
  border-bottom: 1px solid #d1d1d1;
  border-radius: 0px;
}

.select_multi #demo-multiple-name {
  padding: 13.5px 14px !important;
}

/* .phone_img img {
  width: 100%;
} */

.get_q {
  position: relative;
  z-index: 99;
}

.normal_select fieldset {
  border: none;
  border-bottom: 1px solid #d1d1d1;
  border-radius: 0px;
}

.normal_select .MuiSelect-select {
  padding: 13px;
}

.margin-b {
  margin-bottom: 35px;
}

.text_decribe textarea {
  width: 100%;
  resize: none;
  background-color: #e8f7ff;
  height: 90px !important;
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
  border: none;
}

.text_decribe textarea:focus-visible {
  border: none;
  outline: none;
}

.text_decribe label {
  position: unset;
  margin-bottom: 10px;
}

.news-wrapper-style1 .news-description {
  padding: 15px 20px 20px 20px;
  background: white;
  border: 0px solid #eee;
  margin: 10px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  margin-top: -30px;
  position: relative;
  width: 1%;
}

.news-thumb img {
  width: 100%;
}

.news-wrapper-style1:hover .news-thumb img {
  transform: scale(1.1);
}

.news-wrapper-style1:hover .news-thumb:after {
  opacity: 0.8;
}

.news-wrapper-style1 .news-description .the-title {
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
  color: #444444;
}

.news-description:after {
  content: '';
  clip-path: polygon(0 15%, 100% 0, 100% 18%, 0 18%);
  height: 120px;
  width: 100%;
  position: absolute;
  top: -20px;
  background: #fff;
  left: 0px;
}

.the-title a {
  color: #3a3a3a;
  font-size: 16px;
  text-decoration: none;
}

.the-title {
  margin: 0px;
}

.news-description {
  font-weight: 500;
}

.news-description p {
  color: #9f9f9f;
}

.blogs_box {
  padding: 80px 0px;
}

.normal_select {
  width: 100%;
  border: none;
  position: relative;
  margin: 0px 0px 30px !important;
  box-shadow: none !important;
}

.ant-upload {
  background: #e8f7ff;
}

.top_text {
  position: absolute;
  top: -12px;
  left: 0px;
  font-size: 12px;
  color: #747474;
}

.normal_select .MuiSelect-select {
  padding: 0px;
  padding: 10px 0px 10px 0px;
  font-style: unset !important;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500;
  font-size: 16px;
}

.user_enter {
  background-image: url(../images/userenter.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

.user_enter:after {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: #0f2947a3;
  z-index: -1;
}

.enter_box {
  display: flex;
  justify-content: space-evenly;
}

.user_first {
  background-color: white;
  border-radius: 10px;
  padding: 60px 20px 60px;
}

.user_first h2 {
  font-size: 32px;
  color: #323232;
  font-weight: 600;
}
.user_first p {
  font-size: 15px;
  color: #979797;
  font-weight: 600;
  margin-bottom: 50px;
}

.hightlight_txt {
  color: #0077ff;
}

.sign_in {
  width: 100%;
}

.main_container {
  min-height: 100vh;
  align-items: center;
}

.forgot_pass {
  background-color: transparent;
  border: none;
}

.more_optio {
  text-align: center;
}

.more_optio p {
  background-color: white;
  display: inline-block;
  padding: 5px;
  margin: 0px;
}

.more_optio {
  margin: 0px;
  padding: 20px 15px;
  position: relative;
  z-index: 1;
}

.more_optio:after {
  content: '';
  position: absolute;
  top: 35px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-color: #eaeaea;
  z-index: -1;
}

.login_with li {
  width: 55px;
  height: 55px;
  border: 1px solid #eaeaea;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.login_with {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 0px;
}

.login_with li img {
  width: 100%;
}

.signup_enter p {
  margin-bottom: 0px;
}

.signup_enter h2 {
  margin-bottom: 50px;
}

.sign_up_two {
}

.navbar-brand img {
  width: 245px;
}

header .navbar-collapse {
  width: 100%;
}

.custom-navbar-collapse {
  width: 100%;
  display: flex;
  align-items: center;
}

.find_box h2 {
  font-size: 24px;
  color: #3a3a3a;
  border-bottom: 1px solid #d9d9d9;
  padding: 10px 0;
  font-weight: 600;
}

.pilot_page .breacrumb {
  padding: 55px 0px;
}

.find_pilot {
  padding: 20px 0;
}

.search_box_pilot {
  background-color: #fff;
  padding: 35px 18px;
}

.search_box_pilot input {
  background-color: transparent;
}

.appprove_badge{ 

  font-size: 12px;
  font-weight: 500;
  display: inline-block;
  border: 1px solid #00aa6e;
  background: #30dfa145;
  padding: 2px 4px;
  border-radius: 5px;
  margin-top: 10px;
  width: 130px;
  display: flex;
  align-items: center;
}

.important_points li{ margin-bottom: 15px; list-style: none;}

.appprove_badge i{color: #00aa6e; margin-right: 10px; font-size: 18px;}

.product_img img {
  border-radius: 10px;
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: 0.6s;
}

.adverties_ment_box img{border-radius: 10px;width: 100%; height: 368px; object-fit: cover;}

.product_img {
  margin-top: -180px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #05aaff1c;
}

.product_details p {
  font-size: 16px;
  color: #3a3a3a;
  font-weight: 600;
  margin-top: 10px;
  margin: 15px 0px;
}

.market_place_page .product_market_place {
  background-color: white;
  padding: 20px 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 160px;
  margin-bottom: 40px;
}

.inner_profile_details .product_market_place {
  margin-top: 180px;
  background-color: #e8eef1 !important;
  padding: 20px 10px;
  border-radius: 10px;
}

.inner_profile_details .product_details {
  text-align: left;
}

.inner_profile_details .product_details p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product_market_place:hover .product_img img {
  transform: scale(1.2);
  transition: 0.6s;
}

.market_place_products {
  background-color: #edeef1;
  padding: 140px 0;
  padding: 20px 0 50px;
}

.market_place_page .price_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e8eef1 !important;
  padding: 15px 15px;
  border-radius: 15px;
  color: #3a3a3a;
  font-weight: 600;
}

.product_right_side_details h2 {
  font-size: 28px;
  font-weight: 600;
}
.product_right_side_details .priceprodust {
  color: #767676;
  font-size: 28px;
  margin: 5px;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 10px;
}
.dec_box_product {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
}
.dec_box_product ul {
  padding-left: 20px;
}
.dec_box_product ul li {
  color: #898989;
  font-weight: 600;
}
.dec_box_product h2 {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
}
/* .product_details {
  background-color: #edeef1;
} */

.slider-container {
  max-width: 800px;
  margin: 50px auto;
}

.user_log_in {
  padding: 0px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px !important;
  /* background-color: #ebebeb; */
  border-radius: 100%;
}
.user_log_in svg {
  color: white;
}

.scrolled .user_log_in span {
  color: #3a3a3a;
}

.scrolled .user_log_in svg {
  color: #3a3a3a;
}

.slider {
  display: flex;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.slider img {
  width: 100%;
}

.thumbnails {
  display: flex;
  margin-top: 10px;
}

.thumbnails img {
  width: 50px;
  height: 50px;
  margin: 0 5px;
  cursor: pointer;
  border: 2px solid #ddd;
  border-radius: 5px;
}

.thumbnails img:hover {
  border-color: #555;
}

.front_design .active {
  color: #01a9ff !important;
}

.front_design.scrolled .active {
  color: #01a9ff !important;
}
.active {
  border-color: #555;
}

.option_inner ul {
  padding: 0px;
}

.navbar-toggler-icon {
  filter: brightness(0.5) !important;
}
.get_quotes {
  background-color: #ebebeb !important;
}
.otp-input {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}
.otp-input input {
  width: 50px !important;
  padding: 15px 10px;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.otp-input input:focus {
  border: 1px solid #0072ff;
  outline: none;
}

.verify_otp h2 {
  margin-bottom: 30px;
}

.chat_btn {
  width: 100%;
}
.side_btn a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.eye_btn {
  border: none;
  background-color: transparent;
  color: #cfcfcf;
  position: absolute;
  bottom: 8px;
  right: 10px;
}
.eye_btn:hover {
  color: #3a3a3a;
}

.product-images-slider .swiper-slide {
  padding-top: 100%;

  overflow: hidden;

  position: relative;
}

.product-images-slider .swiper-slide img {
  position: absolute;

  top: 0;

  left: 0;

  width: 100%;
}

.product-images-slider .swiper-button-prev {
  left: 0;

  color: #000;
}

.product-images-slider .swiper-button-next {
  right: 0;

  color: #000;
}

.product-images-slider-thumbs .swiper-slide {
  cursor: pointer;

  border: 1px solid #dddbdb;
}

.product-images-slider-thumbs .swiper-slide-thumb-active {
  border-color: #f00;
}

.product-images-slider-thumbs-wrapper {
  width: 100%;

  padding-top: 100%;

  overflow: hidden;

  position: relative;
}

.product-images-slider-thumbs-wrapper img {
  position: absolute;

  top: 0;

  left: 0;

  width: 100%;
}

.market_place_page_details .breacrumb {
  background: linear-gradient(180deg, #0e3b6f 0%, #0d57af 100%);
  padding: 0px 0 130px;
}

/* .product_details {
  padding: 90px 0px;
  background: #edeef1;
} */
.product_details .swiper-slide {
  height: 505px !important;
  padding-top: unset !important;
}

.product_details .swiper-slide img {
  height: 505px;
  object-fit: contain;
  background: white;
  padding: 35px 0px;
}

.product_details .product-images-slider-thumbs .swiper-slide img {
  height: 120px !important;
  object-fit: cover;
}

.product_details .product-images-slider-thumbs .swiper-slide {
  height: 120px !important;
  margin-top: 20px;
}

.product_details .product-images-slider-thumbs .swiper-slide img {
  object-fit: cover !important;
  border-radius: 5px;
}

.product_details .product-images-slider {
  border-radius: 20px !important;
}

.market_place_page_details .product_details {
  padding: 100px 0px;
  background-color: #edeef1;
}

.market_place_page .product_details p {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* -------------------------------hdahsd---------------------------- */

.search_result {
  padding: 50px 0;
}

.pilot_profile_box {
  box-shadow: 0px 4px 30px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 20px;
  background-color: white;
}

.pilot_profile_box .profile_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pilot_profile_box .profile_box .user_icon_box {
  padding: 10px;
  box-shadow: 0px 4px 30px -1px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-top: -65px;
  background-color: white;
}

.pilot_profile_box .profile_box .user_icon_box img {
  width: 51px;
  height: 51px;
  border-radius: 100%;
  object-fit: contain;
  background: #c4c4c46e;
}

.profilepilot_details h2 {
  font-size: 16px;
  color: #3a3a3a;
  font-weight: 600;
}

.profilepilot_details p {
  color: #a7a7a7;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.view_profile_btn button {
  border: none;
  background-color: transparent;
}
.profilepilot_details {
  padding: 20px 0px;
}

.rating_box ul {
  display: flex;
  list-style: none;
  margin: none;
}

.rating_box ul li svg {
  color: #ffc107;
}

.search_result h3 {
  font-size: 16px;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 15px;
}

.details_p {
  background-color: #edeef1;
  /* padding: 90px 0px; */
}

.profile_img_pilot_info img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: contain;
  background: #f3f6fa;
}

.name_sec h2 {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
}

.name_sec h3 {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0px;
}

.profile_data {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
}

.location svg {
  color: #0198ff;
}

.mail_deatails {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.deccribe {
  font-size: 16px;
  color: #9c9c9c;
  font-weight: 500;
}

.profile_data .name_sec .location {
  font-weight: 500;
  color: #3a3a3a;
}

.share_btn {
  margin-right: 10px;
  font-size: 16px;
  border: none;
  background-color: transparent;
  color: #8a8a8a;
  display: flex;
  align-items: center;
  gap: 5px;
}

.share_btn svg {
  color: #0198ff;
}

.heasding_front {
  font-weight: 600;
  color: #3a3a3a;
}

.heasding_front {
  border-bottom: 1px solid #eeeeee;
  padding: 10px 15px;
}

.outer_profile {
  background-color: white;
  padding: 10px 0px;
}

.project_box img {
  width: 100%;
}

.project_tittle_box {
  font-weight: 600;
  color: #3a3a3a;
}

.project_box {
  position: relative;
}

.front_design {
  padding: 20px 0;
}

.front_btn {
  background-color: #ebebeb !important;
  border: none !important;
  font-weight: 600 !important;
  color: #3a3a3a;
  padding: 10px 20px !important;
  border-radius: 30px !important;
}

.front_btn:hover {
  color: #3a3a3a;
}

.project_tittle_box {
  position: absolute;
  bottom: -24px;
  background-color: white;
  display: block;
  width: 100%;
  transition: 0.6s;
}

.project_box {
  overflow: hidden;
  cursor: pointer;
}

.project_box .img_box img {
  transition: 0.6s;
}

.project_box:hover .project_tittle_box {
  transition: 0.6s;
  bottom: 0px;
}

.no_data {
  font-size: 16px;
  color: #12151b;
  font-weight: 500;
  font-style: italic;
}

.no_data strong {
  font-weight: 600;
}

.market_place_page .product_market_place {
  background-color: white;
}

.location_office .main_global_heading p {
  color: #4674e7;
}

.location_office {
  padding: 120px 0 75px;
  background-color: white;
}

.location_office .main_global_heading h2 {
  color: #3a3a3a;
}

.icon_boxee {
  width: 60px;
  height: 60px;
  background-color: #0072ff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: -40px;
}

.icon_boxee svg {
  font-size: 30px;
}

.contact_box {
  background-color: #f6f6f6;
  border-radius: 15px;
  padding: 15px 30px;
}

.contact_box h2 {
  color: #3a3a3a;
  font-size: 22px;
  font-weight: 600;
  margin-top: 10px;
}

.contact_box p {
  color: #898989;
  font-weight: 500;
  font-size: 16px;
}

.location_input input {
  border: none;
  border-bottom: 1px solid #d1d1d1;
  padding: 8px 0px 10px 0px;
  width: 100%;
  margin-bottom: 20px;
  height: 43px;
}

.review_text p{ min-height: 75px;}

.location_input input:focus {
  outline: none;
}

.location_input {
  position: relative;
}
.autocomplete-dropdown-container {
  position: absolute;
  top: 55px;
  width: 100%;
  z-index: 999;
}

.location_input .MuiFormControl-root{
  width: 100%;
    margin: -36px 0px !important;
}

/* .option_inner img {
  width: 226px;
  height: 226px;
  object-fit: cover;
} */

.option_inner .optin_img {
  /* width: 226px; */
  height: 226px;
  object-fit: cover;
}

.faicility_box .image_box img {
  width: 88px;
  height: 88px;
  border-radius: 100%;
  object-fit: cover;
}

.inner_profile_details {
  padding: 40px 0;
}

.faq_cnt .accordion-button:focus {
  box-shadow: none;
}

.faq_img img {
  border-radius: 25px;
  width: 70%;
}

.get_in_touch {
  position: relative;
  background-color: white;
  z-index: 1;
  padding: 200px 0 30px;
  overflow: hidden;
}

.get_in_touch .main_global_heading {
  text-align: left;
}

.get_in_touch .main_global_heading p {
  color: #4674e7;
}
.form_contact input {
  width: 100%;
  border: none;
  border-radius: 30px;
  padding: 15px 30px;
}

.form_contact input:focus {
  outline: none;
}

.form_contact textarea {
  width: 100%;
  border: none;
  border-radius: 30px;
  height: 150px !important;
}

.form_contact textarea {
  outline: none;
  border: 1px solid #4674e7;
  padding: 15px 30px;
  resize: none;
}

.form_contact .front_btn {
  width: 100%;
  color: white;
}

.contact_img_left_side img {
  width: 100%;
  height: 629px;
  object-fit: cover;
}

.contact_img_left_side {
  position: relative;
  margin-right: -307px;
  clip-path: unset;
  margin-top: -107px;
  top: 42px;
}

.get_in_touch:after {
  content: '';
  background: linear-gradient(90deg, #102948 0%, #0e58b0 100%);
  height: 80%;
  width: 100%;
  position: absolute;
  bottom: 0px;
  z-index: -1;
  background-color: white;
}

.front_design .front_btn:hover {
  background-color: #ebebeb;
}

.tab_outer .MuiTabs-flexContainer {
  justify-content: center;
}

.who_we_are {
  padding: 40px 0;
}

.top_cat .front_btn {
  color: white;
}

.right_who .main_global_heading p {
  color: #4674e7;
  font-weight: 500;
}

.right_who .main_global_heading h2 {
  color: #3a3a3a;
}

.right_who .content p {
  color: #898989;
}

.tab_outer button {
  font-size: 15px;
}

/* .img_contact img {
  width: 100%;
} */

.sign_in.front_btn {
  color: white;
}

.map_btn {
  border: none;
  background-color: transparent;
}

.pop_map h5 {
  font-size: 16px;
}

.img_contact {
  width: 90%;
  text-align: center;
}

.product-images-slider-thumbs .product-images-slider-thumbs-wrapper img {
  padding: 0px !important;
}
.page_marketplace {
  padding: 50px 0px;
}
.page_marketplace ul {
  justify-content: center;
}
.page_marketplace ul li .Mui-selected {
  background-color: rgb(1 159 255);
  color: white;
  font-weight: 600;
}

.slider_section {
  position: relative;
  z-index: 1;
}

.market_place_location {
  font-size: 15px;
  font-weight: 500;
}
.market_place_location svg {
  color: #0198ff;
  font-weight: 500;
  font-size: 20px;
  margin-right: 5px;
}

.phone_img img {
  width: 60%;
}

.img_contact img {
  width: 100%;
}
.main_pro_box_mark {
  background-color: transparent;
}
.infinite-scroll-component {
  overflow: hidden !important;
}
.front_map {
  position: sticky;
  top: 120px;
}
.tab_design {
  color: #3a3a3a !important;
  background-color: #f3f6fa !important;
  clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%) !important;
  border-radius: 5px !important;
  margin-right: 10px !important;
  padding: 0px 30px !important;
}

.Mui-selected.tab_design {
  background-color: #e6f7ff !important;
  color: #3a3a3a !important;
}

.rating_box {
  display: flex;
  align-items: center;
  gap: 1px;
}
.rating_box svg {
  font-size: 20px;
  color: #ffc107;
}
.star_des {
  font-size: 20px;
  color: #ffc107;
  margin-bottom: 2px;
}
.star_main span {
  font-weight: 600;
}
.inner_skelton {
  padding: 25px;
  background-color: white;
  margin-bottom: 15px;
}

.front_btn.get_quotes:hover {
  color: white !important;
}

.left_app_links a {
  text-decoration: none;
}

.copyright a {
  color: white;
  text-decoration: none;
}

.copyright a:hover {
  text-decoration: underline;
}

.costom_label {
  font-size: 12px;
  font-weight: 500;
  color: #747474;
}

.costom_label svg {
  width: 18px;
  color: #0072ff;
}

.product_details .swiper-button-next {
  background-color: white;
  font-size: 12px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-right: 10px;
}

.product_details .swiper-button-prev {
  background-color: white;
  font-size: 12px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-left: 10px;
}

.product_details .swiper-button-prev:after {
  font-size: 22px;
  font-weight: 600;
}

.product_details .swiper-button-next:after {
  font-size: 22px;
  font-weight: 600;
}

.specialities h2 {
  font-size: 16px;
}

.pagination {
  align-items: center;
  justify-content: center;
  padding: 40px 0px;
}

.specialities p {
  background: #f1f1f1;
  font-size: 13px;
  font-weight: 500;
  padding: 5px 10px !important;
  font-weight: 600 !important;
  color: #3a3a3a;
  margin-bottom: 5px !important;
  border-radius: 5px;
  whitespace: nowrap;
}

.when_not_have {
  color: red !important;
  text-align: center;
}

.inner_profile_details .no_data {
  margin-top: 30px;
}

.header_drw:hover {
  background-color: transparent !important;
}

.name_arrow {
  color: white;
}

.dashboard_view_more button {
  background-color: white;
  border: 1px solid #0072ff;
  padding: 5px 30px;
}

.dashboard_view_more button:hover {
  background-color: #01a3ff14;
}


.global_breadcrumb_design{background-color: #0D3563; padding: 0px 0;}

.about_page{ margin: 0px 50px; background-color: #05274F; padding: 20px; }

.about_page h1{ color: white; font-size: 32px;}

.about_page p{ color: white; font-size: 16px;}

.top_image{ position: relative;}
.top_image:before{ position: absolute; content: ''; top: 0px; width: 134px; height:100%; left: 0px; background-image: url(../images/shapetop.png ); background-repeat: no-repeat; background-size: cover;}


.step_how_work_box  img { width: 60px;}
.step_how_work_box h2{    font-size: 24px;
  margin: 20px 0px 10px;
  font-weight: 600;}

  .steps_work{     padding: 80px 0 35px;}

.step_how_work_box p{ color: #656565;}

.plandetails table span{ font-size: 14px; font-weight: 400; }
.plandetails table i{ font-size: 24px;}

.plandetails{ padding: 80px 0; background-color: white;}
.plan_points{font-weight: 600;}

.how_we_work .nav-tabs{     justify-content: center;
  border: none;
  gap: 15px;
  display: inline-flex;
  background: white;
  padding: 10px 15px;
  border-radius: 30px;}


  .purchase_highlight{ background-color: #0072ff; color: white; padding: 15px 5px; position: relative;}
  .purchase_highlight:after{ position: absolute; width: 30px; height: 20px; background-color: #0072ff;left: 50%;  content: " "; 
    transform: translate(-50%, 50%); bottom: 0px; clip-path: polygon(0 0, 49% 100%, 100% 0);}

  .how_we_work .main_global_heading h3 { color: #0074ff; font-size: 16px; font-weight: 500; }
  .how_we_work .main_global_heading h2 { color: #0f2946; }

  .plandetails_table{ background-color: white; padding: 60px 0;}

  .plandetails td{ padding: 25px;}

.how_we_work .nav-tabs button{ background-color: #F0F0F0; padding: 10px 80px; border-radius: 30px; font-size: 18px; font-weight: 600; text-transform: capitalize;}
.how_we_work .nav-tabs button.active{background: linear-gradient(87.89deg, #01A4FF -93.69%, #0074FF 98.23%); color: white;}

.about_page{ position: relative;} 

.about_page:after{content: ""; position: absolute; bottom: -4px; width: 100%; height: 5px; background: linear-gradient(90deg, #01A4FF 0%, #0075FF 100%); left: 0px;}
/* --------------------------------Responsive---------------------------------- */

@media screen and (max-width: 1700px) {
  header nav a {
    padding: 0px 20px !important;
  }

  header nav a {
    font-size: 16px !important;
  }

  header .global_btn {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 1550px) {


  .about_page h1{ font-size:26px;}

  .about_page p{ font-size: 14px;}

  header nav a {
    padding: 0px 8px !important;
    font-size: 14px;
  }

}

@media screen and (max-width: 1400px) {

  .about_page {
    margin: 0px 0px;}
  header nav a {
    font-size: 14px !important;
}

.front_design .front_btn{    padding: 10px
   15px !important;}


  header nav a{font-size: 14px;}

  .global_btn {
    padding: 8px 47px;
  }
  .phone_img img {
    width: 50%;
  }
  .top_cat {
    padding: 90px 0;
  }
  .how_work {
    padding: 135px 0px 100px;
  }
  .get_start .global_heading {
    padding: 10px 80px;
  }
  .hero_content {
    padding: 65px 0px 65px;
  }
  .pilot_profile_box {
    padding: 10px;
  }
  .slider_section {
    padding: 100px 0px;
  }

  .bread_heading h2 {
    font-size: 40px;
  }

  .navbar-brand img {
    width: 200px;
  }


  .slider_box img {
    width: 55%;
  }

  .option_inner ul li {
    font-size: 16px;
  }
  .main_global_heading h2 {
    /* font-family: 'Michroma', sans-serif; */
    font-size: 26px;
    line-height: 36px;
  }
  .get_start .global_heading h2 {
    font-size: 26px;
    line-height: 38px;
  }

  .hero_content h2 {
    font-size: 26px;
  }
}
.check_select_outer .MuiOutlinedInput-notchedOutline {
  border: 0px;
}
.check_select_outer .Mui-focused {
  box-shadow: unset;
}

@media screen and (max-width: 1200px) {

  .otp-input {
    gap: 21px;
 
}
  /* .product_market_place {
    margin-bottom: 210px;
  } */
  .product_img img {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {


  .why_choose{ padding-bottom: 40px!important;}

  .why_choose h3 {
    font-size: 24px!important;
    color: #3a3a3a!important;
}

  
  .flex_plans {
    padding: 30px 0;
}

  .icon_li {
    width: 40px!important;
    height: 40px!important;}

    .icon_li svg{width: 20px!important}

  .global_breadcrumb_design { padding: 150px 0 80px; }




  .about_page{ margin: 0px;}

  .global_breadcrumb_design_inner .row{ justify-content: center!important;}
  
.top_image{ display: none;}
  .loaderdesign img {width: 150px!important;}

  .form_pilot_find .inner_main_box {
    padding: 15px;
  }
  .form_pilot_find {
    padding: 15px 0px;
  }
  .option_serch {
    margin-top: 20px;
  }
  .market_place_page_details .product_details {
    padding: 30px 0px;
    background-color: #edeef1;
  }
  .header_drw {
    background-color: #ebebeb !important;
    border-radius: unset !important;
    margin: 0px !important;
    color: #3a3a3a !important;
    border-radius: 30px !important;
  }

  .name_arrow {
    color: #3a3a3a !important;
    font-weight: 600;
  }
  .inner_profile_details {
    padding: 0px;
  }
  .profile_img_pilot_info img {
    width: 130px;
    height: 130px;
  }
  .bg_top {
    height: 82px;
  }
  .breacrumb {
    padding: 155px 0 70px;
  }
  .front_design {
    padding: 0px;
  }
  .slider_box {
    height: 70vh;
  }
  .slider_section {
    height: 70vh;
  }

  .user_first h2 {
    font-size: 22px;
  }

  .signup_enter h2 {
    margin-bottom: 30px;
  }
  .form_heading {
    margin-bottom: 30px;
  }
  .form_heading h2 {
    font-size: 20px;
  }
  .inner_main_box {
    padding: 16px 10px;
  }
  .location_office {
    padding: 60px 0 75px;
  }
  .contact_img_left_side {
    display: none;
  }
  .get_in_touch {
    padding: 60px 0 60px;
  }
  .get_in_touch:after {
    height: 100%;
  }
  .right_img {
    padding: 60px 0px;
  }
  .faq {
    padding: 45px 0px;
  }
  .search_box_pilot .normal_select {
    margin-bottom: 0px !important;
  }
  .search_box_pilot .global_btn {
    padding: 10px 35px;
  }
  .find_pilot {
    padding: 20px 0 20px;
  }
  .slider_section {
    padding: 0px 0px;
  }
  .pilot_page .breacrumb {
    display: none;
  }

  header nav a {
    color: #3a3a3a !important;
    padding: 15px 0 !important;
  }

  .navbar-toggler:focus {
    box-shadow: none !important;
  }

  .navbar-toggler-icon {
    filter: brightness(0.5);
  }

  .your-header-class .sec_logo {
    display: block !important;
  }
  .first_logo {
    display: none;
  }
  .your-header-class {
    background-color: white;
  }

  .custom-navbar-collapse {
    display: unset;
  }

  .main_logo {
    margin: 30px 0px;
  }
  .main_container {
    align-items: unset;
  }

  .app_download .global_btn {
    background: linear-gradient(90deg, #01a9ff 0%, #0072ff 100%);
    border-radius: 46px;
    padding: 15px 20px;
  }
  .logo_footer {
    margin: 0px 0px 40px;
  }
  .quick_links {
    margin: 0px 0px ;
  }
  .logo_footer img {
    width: 155px;
  }
  .navbar-toggler {
    border: 1px solid white !important;
  }
  .navbar-toggler-icon {
    filter: invert();
  }

  navbar-nav {
    max-height: 100%;
  }

  .breack_word {
    display: unset;
  }
  .how_work {
    padding: 150px 0px 100px;
  }

  .hero_content {
    padding: 81px 0px 80px;
  }

  .phone_img img {
    width: 80%;
  }
  .phone_img {
    margin-top: 40px;
  }

  .side_btn {
    justify-content: center;
  }
  .left_app_links .main_global_heading {
    text-align: center;
  }

  .cat_main {
    margin-top: 50px;
  }
  .top_cat {
    padding: 90px 0 90px;
  }

  .get_start .global_heading {
    padding: 50px 0;
  }

  .get_start {
    padding: 0px;
  }
}

.footer_outer {
  border-bottom: 1px solid #fff;
  padding-bottom: 20px;
}

.copyright {
  text-align: center;
  color: white;
  margin-top: 15px;
  font-size: 14px;
}

.your-header-class {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.your-header-class.scrolled {
  background-color: white;
  transition: 0.6s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.your-header-class.scrolled .first_logo {
  display: none;
}

.your-header-class.scrolled .sec_logo {
  display: block;
}

.your-header-class .sec_logo {
  display: none;
}

.your-header-class.scrolled .side_btn a {
  color: white !important;
}

.your-header-class.scrolled .side_btn a:hover {
  color: white !important;
}

.your-header-class.scrolled nav a {
  color: #3a3a3a !important;
}

.your-header-class.scrolled nav a:hover {
  color: #01a9ff !important;
}

header nav a {
  text-decoration: none;
}

header nav a:hover {
  color: #01a9ff !important;
}

.select_account_type .MuiRadioGroup-root {
  justify-content: center;
}

.select_account_type {
  padding: 10px 20px 40px;
  background-color: #f3f6fa;
  border-radius: 20px;
  margin-bottom: 40px;
}

.hightlight_txt a {
  text-decoration: none;
  font-weight: 600;
}
.select_account_type h2 {
  font-size: 18px;
  color: #3a3a3a;
  margin: 20px;
}

.main_logo img {
  width: 250px;
}

@media screen and (max-width: 767px) {


  .why_choose ul {
    grid-template-columns: 1fr!important;}

  .pop_uo_payment .MuiDialog-paper {
    width: 100%;
}

  .how_we_work .nav-tabs button {
    background-color: #F0F0F0;
    padding: 9px 46px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}
  .inner_profile_details .share_profile {
    margin-bottom: 30px;
  }
  .inner_profile_details .star_main {
    justify-content: center;
  }
  .inner_profile_details .name_sec h3 {
    justify-content: center;
  }
  .mail_deatails {
    flex-direction: column-reverse;

    align-items: center;
  }
  .bread_heading h2 {
    font-size: 24px;
  }
  .slider_box img {
    width: 90%;
  }

  .pilot_profile_box .profile_box .user_icon_box {
    margin-top: unset;
  }
}

@media screen and (max-width: 575px) {
  .side_btn {
    flex-direction: column;
  }
  .otp-input {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: space-between;
  }
  .main_global_heading h2 {
    font-size: 24px;
    font-weight: 500;
  }
  .get_start .global_heading h2 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
  }
  .hero_content h3 {
    font-size: 14px;
  }
  .hero_content h2 {
    font-size: 18px;
  }
  .inner_main_box {
    padding: 40px 20px;
  }
}

.c-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1999 !important;
}

c-modal-body {
  background-color: white;
  width: 400px;
  height: 200px;
}

.c-modal-body {
  background: white;
  width: 800px;
  height: 500px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.c-modal-body img {
  width: 50%;
}

.c-modal-body h3 {
  font-size: 20px;
  font-weight: 600;
}

.c-modal-body p {
  color: #6b6b6b;
  font-weight: 500;
  padding: 0px 30px;
}

.pilot_profile_box_inner img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  object-fit: cover;
  margin: auto;
}

.pilot_profile_box_inner {
}

.pilot_list_box_main {
  height: 100%;
  background-color: #ffffff;
  /* border: 1px solid #cdc1c1; */
  padding: 25px 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.pilot_list_name {
  font-weight: 600;
}

.rating_count svg {
  font-size: 20px;
  color: #ffc107;
  font-size: 18px;
  margin-bottom: 4px;
}

.pro_pilot {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  gap: 5px;
}

.rating_count {
  font-weight: 500;
  color: #6e6e6e;
}

.location_pro_pilot_list {
  font-weight: 500;
  color: #6e6e6e;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.specialities ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.pilot_list {
  padding: 60px 0;
}

.filterby svg {
  font-size: 18px;
  color: #0072ff;
  margin-bottom: 4px;
}

.specialities ul li {
  list-style: none;
  padding: 2px 9px;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  color: #3a3a3a;
  border-radius: 5px;
  margin-bottom: 5px;
}

.specialities {
  border-top: 1px solid #cccccc;
  padding: 15px 0px;
  margin-top: 15px;
  border-bottom: 1px solid #cccccc;
  height: 170px;
  overflow: scroll;
}

.specialities::-webkit-scrollbar {
  width: 0; /* Hide the scrollbar track */
}

.specialities h1 {
  font-size: 15px;
  font-weight: 600;
}

.view_profile_btn svg {
  color: #377dff;
  width: 20px;
  margin-left: 5px;
  transition: 0.6s;
  margin-bottom: 2px;
}

.view_profile_btn {
  border-radius: 15px;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
}

.view_profile_btn button {
  font-weight: 500;
  transition: 0.6s;
}

.view_profile_btn button:hover {
  color: #0072ff;
}

.marketplace.location_search{ margin: 0px;}
.marketplace .location_input input{ margin: 0px;}

.marketplace .location_input input{ background-color: transparent; border-bottom: 1px solid #d1d1d1; font-weight: 400;}

.marketplace .location_input input {

  padding: 7px 0px 5px 0px;

}


.pilot_map_select label { left: -15px !important; top: -5px !important; }

.top_image img{ height: 460px;}

.post_btn{ background: white; color: black!important;} 

.top_header_design .reset_btn{ color: black!important;}

.marketplace .location_input input { height: 43px!important;}

.height_margin { margin-top: 90px;}

.plandetails{ display: none;}

.manage_space.normal_select{ margin: 0px!important;}


/* CookiesPopup.css */

.cookies-popup {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  color: #fff;
  text-align: center;
  padding: 15px;
  z-index: 1000;
}

.cookies-popup-content {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cookies-popup button {
  background: linear-gradient(90deg, #01a9ff 0%, #0072ff 100%);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
}

.cookies-popup button:hover{box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}

.cookies-popup a {
  color: #0075ff;
  text-decoration: underline;
}

.cookies-popup-content p{ color: #000; }


.pop_map{ width: 300px;}


.gm-style-iw-ch{ display: none;}
.gm-style-iw-chr{ justify-content: end;}

.gm-ui-hover-effect{

  width: 28px!important;
  height: 30px!important;
  font-size: 10px;
}

.pop_map .slick-dots{ display: none!important;}

.pop_map .slider-container{ margin: 0px!important; }

.cs_btn{ background-color: #0072ff; display: flex; justify-content: center; align-items: center; width: 30px!important; height: 30px!important; border-radius: 100%!important; border: none; color: white; gap: 10px; margin-bottom: 5px;}

.gm-style-iw-d{ overflow: hidden!important; padding: 0 10px 15px;}

.gm-ui-hover-effect span{ margin: 0px!important;}


@media screen and (max-width: 1200px) {

  .cookies-popup-content p{ font-size: 15px;}

  .cookies-popup button {

    font-size: 14px;}
  .cookies-popup-content {
flex-direction: column;
gap: 20px;

}
}

.market_place.autocomplete-dropdown-container{
  top: 55px !important;
}


.top_rev_heading{

  font-size: 18px !important;
    color: #0074ff !important;
    font-weight: 600;
    margin: 0px;


}


@media only screen and (max-width: 991px) {

  .main_rev_box {
    margin-top: 35px;
}

  .top_cat {
    padding: 40px 0 40px;
}

  .app_download {
    padding: 56px 0;
}

  .main_global_heading h3 {
    /* font-family: 'Michroma', sans-serif; */
    font-size: 24px;
    /* line-height: 60px; */
  }


  .review .main_global_heading h3{ font-size: 24px; color: black; margin: 0px;}

  .review {
    position: relative;
    padding: 60px 0;
    background: white;
    z-index: 0;
}
}


.global_heading p { font-size: 16px; font-weight: 600;}


.why_choose p {

  font-size: 16px;
  font-weight: 600;
  margin: 0px;
  color: #0072ff;
}

.why_choose ul li{ list-style: none;
  background-color: white;
  margin-bottom: 10px;
  padding: 12px;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 10px; }

  .why_choose ul li p{ color: #000;     width: calc(100% - 60px);}

.why_choose h3{font-size: 2rem; color: #3a3a3a;;}

.icon_li { width: 60px; height: 60px; background-color: #0072ff; color: white; border-radius: 100%;display: flex; align-items: center; justify-content: center;    font-size: 22px;}



.why_choose ul {     display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 11px;}


  .why_choose {    padding: 0px 0px 60px;
  }


  .how_we_work h3 {

    font-size: 22px;
    font-weight: 600;
    
  }

  .how_we_work h4 {

    font-size: 22px;
    font-weight: 600;
  }


  .side_how_image { position: sticky; top: 150px;}

  .side_how_image img{ border-radius: 20px;}


.height_margin{ position: absolute; bottom: 0px;   bottom: 0px;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);    text-wrap: nowrap;}

  .global_btn.height_margin:hover{ transform: unset!important;   transform: translate(-50%, -50%)!important;}